<svg width="445.72174" height="546.74475" viewBox="0 0 445.72174 546.74475" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <path class="walk-zone" stroke="black" fill="none" stroke-width="1" d="m 195.72174,0.366025 100.8065,174.601985 -0.36602,1.36602 -62.85959,36.292 47.387,82.0767 62.85959,-36.292 1.36602,0.36602 100.8065,174.60198 -0.36602,1.36603 -193.9897,112 L 250,546.37873 149.1935,371.77675 l 0.36602,-1.36602 64.99348,-37.524 -47.387,-82.0767 -64.99348,37.524 -1.36602,-0.36602 L 0,113.36603 0.36602,112 194.35572,0 Z"></path>
  <g *ngIf="grid">
    <path [attr.d]="rect.points | svgPath"
          *ngFor="let rect of grid.rects"
          [attr.fill]="rect.isAllowedToWalk ? 'none' : 'grey'"
          stroke="black"></path>
    <circle [attr.cx]="point.x"
            [attr.cy]="point.y"
            r="2"
            *ngFor="let point of zone.points; let i = index;"></circle>
    <text [attr.x]="point.x"
          [attr.y]="point.y"
          *ngFor="let point of zone.points; let i = index;">{{i}}</text>
  </g>
  <path class="route"
        fill="none"
        stroke="red"
        stroke-width="2"
        *ngIf="!!randomPoints"
        [attr.d]="randomPoints | svgPath: {isClosed: false}"></path>
  <circle [attr.cx]="routePoints[0].x" [attr.cy]="routePoints[0].y" r="2" fill="red"></circle>
  <circle [attr.cx]="routePoints[1].x" [attr.cy]="routePoints[1].y" r="2" fill="green"></circle>
</svg><br>
<button (click)="generatePoints()">Generate Path</button>
